<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="passwirdUrl" value="http://www.passwird.com/" />
  <add key="passwirdDealUrl" value="mobile/deals/{0}" />
  <add key="passwirdDealsUrl" value="mobile?show={0}" />
  <add key="passwirdSearchUrl" value="mobile/search?query={0}" />
  
  <add key="passwirdImagePrefix" value="md_" />
  <add key="passwirdImagePrefixRegex" value="^(tm|sm|md|og)_" />
  
  <add key="errorImageUrl" value="http://mccrager.com/Content/img/appicon-PasswirdDeals-half.png" />
</appSettings>